<h1><%="STUPID COACH" %> </h1>

<div class="question-answer">
<h3><%= "#{@question}" %></h3>
<h4><%= "- You" %></h4>

<h3><%= "#{@answer}" %></h3>
<h4><%= "- Your coach" %></h4>
</div>

<a><%= link_to "Ask an other question to your coach", "/ask" %></a>
